.jumboTron {
    margin: 0;
    text-align: center;
    padding:10rem;
    width: auto;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba( 0, 0, 0, .2);
    justify-content: center;
    align-self: center;

    

}

h1 {
    display: flex;
    text-shadow: 1px 2px 2px;
    text-shadow: black;
    text-align: center;
    justify-content: center;
    align-content: center;
}




p {
    font-size: large;

}

p:hover {
    text-shadow: white;
    text-shadow: 1px 1px 1px;
    transform: scale(1.5);
    transition: all 1s;
}

h1:hover {
    text-shadow: white;
    text-shadow: 1px 1px 1px;
    transform: scale(1.5);
    transition: all 1s;
}


.button{
    font-size: medium;
    background-color: 1, 1, 1, 0;
    margin: 2px;
    padding: 2px;
    border-radius: 2px;

}