
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  color:black;
  background-image: url('./components/assets/fibers.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}