
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1C6EA4;
  
  background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%, .9);;
  color:black;
  background-image: url('./components/assets/fibers.jpg')  no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}